[user]
	name = hskwakr
	email = 33633391+hskwakr@users.noreply.github.com
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
[init]
	defaultBranch = main
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
